name: CI

on: [ push, pull_request ]

jobs:

  ubuntu-latest:
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    env:
      CC: clang-18
      CXX: clang++-18
      CXXFLAGS: -Werror
      BUILD_TYPE: Prod
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-ubuntu
      - uses: ./.github/actions/install-from-git
      - uses: ./.github/actions/cmake
      - uses: ./.github/actions/build
      - uses: actions/upload-artifact@v6
        with:
          name: osmium
          path: build/src/osmium
